<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="card-content">
          <%= simple_form_for @journal_entry do |f| %>
            <%= f.input :content, class: "w-75 p-3"  %>
            <%= f.input :rating, collection: ['ðŸ˜ ','ðŸ˜”','ðŸ˜','ðŸ™‚','ðŸ˜€'], label: "Comment tu te sens?", input_html: {data: {controller: "star-rating"}} %>
            <%= f.submit "Enregistre" %>
          <% end %>
      </div>
    </div>
  </div>
</div>


