// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$purple: #432066;
$medium-purple: #76498c;
$light-purple : #c2a2d3;

// cards color:
$card-pink: #f192b4;
$card-dark-pink: #dd5f8e;
$card-orange: #ff6a1a;
$card-yellow: #f8dd50;
$card-blue: #589fc9;
$card-vert: #0fa069;
$card-light-green: #89d3b8;

$icon-green: #B9FFBF;
