*{
    margin: 0;
    list-style: none;
  //   font-family: 'Ubuntu', sans-serif;
  //   box-sizing: border-box;
  text-decoration: none;
}

.dashboard-container {
  margin-top: 40px;
}
// .image {
//   position: relative;
//   bottom: 50px;
// }
.rainbow {
  position: absolute;
  bottom: 70px;
  right: 20px;
  height: 130px;
  transform: rotate(1deg);
  z-index: -5;
}

.journal-date {
  border-right: 2px solid lightblue;
  box-sizing: border-box;
  padding-right: 20px;
  width: 50px;
  height: 50px;
  padding-top: 0;
}

a {
  color: #000000;
}

.message-text {
  margin-right: 2px;
  // margin-left: 20px;
  line-height: 16px;
  text-align: end;
  color: #4a4e69;
  font-family: $message-font;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .8);
  font-weight: bolder;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/*MENU */
.wrapper .sidebar_menu{
  position: fixed;
  top: 150px;
  left: 0;
  background: #a67fbe;;
  width: 50px;
  height: 100%;
  transition: all 0.3s linear;
  border-radius: 10px;
}
.wrapper .sidebar_menu .inner_sidebar_menu{
    position: relative;
    padding-top: 60px;
}

.wrapper .sidebar_menu ul li a{
    color: #fff;
    font-size: 25px;
    // padding: 20px 35px;
    display: block;
    white-space: nowrap;
    text-decoration-line: none;
}

.wrapper .sidebar_menu ul li a .span{
    display: inline-block;
}

.wrapper .sidebar_menu ul li a .icon{
    // margin-right: 20px;
}

.wrapper.active .sidebar_menu ul li a .list{
    // display: none;
    // left: -206px;
}


/*Card*/
.card-box.bg-violet.card-hidden {
  position: fixed;
  opacity: 0;
  right: 100vw;
}

.card-box.bg-violet {
  position: fixed;
  margin: auto;

  top: 160px;
  // left: 55px;
  margin: 0 10px;
  opacity: 1;
  transition: all 05ms ease;
  z-index: 10000;
  overflow: scroll;

  h3 {
    top: -10px
  }
}

.bg-violet {
    background-color:#a67fbe !important;
}

.card-box {
    position: relative;
    color: #fff;
    padding: 10px 10px ;
    margin: 50px 0px;
    height: 65%;
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
}
.card-box:hover .icon i {
    font-size: 110px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {

}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: center;
}
.card-box p {
    font-size: 15px;
}

#inner-wishlist {
  // padding-right: 44px;
  width: 100%;

  h1 {
    color: white;
  }


}

.dashboard-hello {

}

.card-entry {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 5px;
  color:rgba(0, 0, 0, 0.3)
}
