*{
    margin: 0;
    list-style: none;
  //   font-family: 'Ubuntu', sans-serif;
  //   box-sizing: border-box;
  text-decoration: none;
}

.dashboard-container {
  margin-top: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rainbow {
  position: absolute;
  bottom: 70px;
  right: 20px;
  height: 130px;
  transform: rotate(1deg);
  z-index: -5;
}

a {
  color: #000000;
}

.message-text {
  // margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 18px;
  text-align: end;
  padding: 10px;
  // border-radius: 25px;
  border-radius: 7px;
  background-color: rgba(14, 27, 150, 0.8);
  // background-color: lightblue;
  font-weight: bolder;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  p {
    font-family: $quote-font;
    font-size: 16px;
    color: white;

  }

  i {
    font-size: 20px;
    color: white;
  }
}


/*Card*/

.card-box.bg-violet {
  position: fixed;
  width: 100%;
  top: 160px;
  // left: 55px;
  margin: 25px 10px 0px 10px;
  opacity: 1;
  transition: all 05ms ease;
  z-index: 10000;
  overflow: scroll;
  mask-image: linear-gradient(transparent, white 3%);
  h3 {
    top: -10px
  }
}

.card-box {
    position: relative;
    color: #fff;
    margin: 50px 0px;
    height: 85%;
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
}
.card-box:hover .icon i {
    font-size: 110px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
  margin: 10px 20px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: center;
}
.card-box p {
    font-size: 12px;
}

#inner-wishlist {
  width: 100%;

  h1 {
    color: white;
  }
}

#gradient-overlay {
  // background: linear-gradient(0deg, #EFC9CE, white);
  z-index: 2000000;
  position: fixed;
  top: 140px;
  opacity: .6;
  height: 15px;
  width: 100%;
  content: linear-gradient(0deg, #f2eced,transparent,#F5DCD9 50%);
  box-shadow: 0 0 5px 10px #F5DCD9
  // .overlay {
  //   height
  // }
}

.card-entry {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px;
  // box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  margin-bottom: 10px;
  // color:rgba(0, 0, 0, 0.6);
  color: darkslategray;
  padding: 5px;
  position: relative;

  h6 {
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    color: $purple;
  }

  .journal-date {
    border-right: 2px solid rgba(14, 27, 150, 0.8);
    box-sizing: border-box;
    padding-right: 20px;
    width: 50px;
    height: 50px;
    padding-top: 0;
    font-family: $monospace-font;
    color: $purple;
    font-weight: bold;
  }
}

#text {
  display: none;
  color: white;
}

.entry-rating {
  font-size: 12px;
  color: gold
}

.journal-title {
  position: absolute;
  top: 140px;
  text-align: center;
  z-index: 1000000 !important;
  letter-spacing: 1px;
  color: white;
  text-shadow: rgba(6, 24, 44, 0.9) 0px 0px 6px !important;
  width: 100%;
}

.hello-mssg {
  color: $purple;
}

.entry-icon {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: fit-content;
  display: block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}
