@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.form {
  height: 400px;

  h1 {
    font-family: 'Black Han Sans', sans-serif;
  }
}

.label-icon {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #d2a9ec;
}

.mt-4vh {
  margin-top: 4vh;
}

.radio-btn-div:hover .label-icon {
  box-shadow: 0 0 4px 0 rgba(3, 3, 3, 0.6);
  background-color: white;
}

.radio-btn:checked  + label .label-icon {
  box-shadow: 0 0 4px 0 rgba(3, 3, 3, 0.6);
  background-color: white;
}

.bulle3 {
  width: 326px;
  position: absolute;
  margin-top: -7px;
}

.text-filter {
  color: $purple;
}

.img-position {
  background-image: url("bulle3.png");
  background-position: center;
  background-size: 87vw;
  background-repeat: no-repeat;
  padding: 30px 47px;
  margin-top: 4vh;
  .p {
    line-height: 12px;
    margin-bottom: 0;
  }
  p {
    font-size: 2vh;
  }
}

.img-bulle3 {
  background-image: url("intestin.png");
  background-position: top;
  background-size: 87vw 50vh;
  background-repeat: no-repeat;
  padding: 2vh 53px 5vh;
  margin-bottom: 1vh;
}

.text-bulle {
  position: top;
  font-size: 2vh;
}

input#btn-later {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: purple;
  border: 1px solid;
  box-shadow: 1px 1px 4px purple;
}
