@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.form {
  height: 400px;

  h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
  }
}

.label-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .7);
}

.radio-btn-div:hover .label-icon {
  box-shadow: 0 0 4px 0 rgba(3, 3, 3, 0.6);
  background-color: white;
}

.radio-btn:checked  + label .label-icon {
  box-shadow: 0 0 4px 0 rgba(3, 3, 3, 0.6);
  background-color: white;
}

// .preferences {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 300px;
// }
