// Import page-specific CSS files here.
@import "home";

body {
  background-image: linear-gradient(to top, #f6c0e6 0, #f9dcc4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // h1 {
  //   color: palevioletred;
  // }
}

// card animation

.form-later {
  bottom: 140px;
  position: absolute;
}

.fleche2 {
  width: 41px;
  margin-top: -26px;
  padding: -14px;
}
