<div class="d-flex justify-content-center align-items-center">
  <section id="shuffle">
    <div class="cardanimation" id="zero"><img src="ecouter_sa_playlist_prefere.png" alt=""></div>
    <div class="cardanimation" id="one"><img src="faire_du_sport.png" alt=""></div>
    <div class="cardanimation" id="two"><img src="manger_des_trucs_bons.png" alt=""></div>
    <div class="cardanimation" id="three"><img src="marcher_prendre_lair.png" alt=""></div>
    <div class="cardanimation" id="four"><img src="siester.png" alt=""></div>
    <div class="cardanimation" id="five"><img src="regarder_des_series.png" alt=""></div>
  </section>
</div>
