<!DOCTYPE html>
<html>
<head>
  <title>Effet de pluie de cartes à jouer</title>
  <style>
    #canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .card {
      position: absolute;
      width: 100px;
      height: 150px;
    }
  </style>
</head>
<body>
  <canvas id="canvas"></canvas>
  <button onclick="start()">Commencer</button>
  <button onclick="stop()">Arrêter</button>
  <script src="script.js"></script>
</body>
</html>
