.btn-purple {
  border-radius: 7px;
  background-color: $purple;
  color: white;
  font-family: $main-font;
  font-size: 24px;
  font-weight: lighter;
  padding: 8px 48px;
}

.btns-radio {
  display: flex !important;
  width: 200px;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}

.radio-btn {
  position: absolute;
  // transform: scale(0);
  top: 5px;
  left: 5px;
  z-index: 100;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.label-rounded {
  border-radius: 50%;
  background-color: lightblue;
  height: 65px;
  width: 65px;
  z-index: -1;
  // margin-top: 10px; /* add margin to separate from radio button */
  // display: flex;
  justify-content: space-around;
  display: flex;
}
.radio-btn:checked + .label-rounded {
  background-color: white;
  border: 1px solid black;
}

.radio-btn-div i {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  // padding: 8px 12px;
  background-color: red;
}

.radio-btn-div label {
  cursor: pointer;
  border-radius: 50%;
}

.label-icon {
  height: 70%;
  background-color: transparent;
  text-align: center;
  left: 2.5px;
  margin-top: 8px;
}

.radio-btn-div {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-select {
  opacity: 0;
}
