.btn-purple {
  border-radius: 7px;
  background-color: $purple;
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 19px;
  //font-weight: lighter;
  padding: 8px 48px;
}

.btns-radio {
  display: flex !important;
  width: 200px;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.radio-btn {
  position: absolute;
  // transform: scale(0);
  top: 5px;
  left: 5px;
  z-index: 100;
  width: 70px;
  height: 70px;
  opacity: 0;
}

// .radio-btn:checked + .label-icon {
//   background-color: white;
//   border: 2px solid black;
// }

.radio-btn-div label {
  cursor: pointer;
  border-radius: 50%;
}

// .label-icon {
//   height: 80%;
//   background-color: transparent;
//   text-align: center;
//   left: 2.5px;
//   margin-top: 8px;
// }

.label-icon1 {
  height: 60%;
  background-color: transparent;
  text-align: center;
  left: 2.5px;
  margin-top: 8px;
}

.radio-btn-div {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.btn-ghost {
  color: palevioletred;
  border: 1px solid palevioletred;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 16px;
}

.btn-ghost:hover {
  opacity: 1;
  color: palevioletred;
}

.btn-select {
  opacity: 0;
}

.btn-violet {
  position: absolute;
  bottom: 100px;
  background-color: #3e1359;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  width: 180px;
  //font-family: $main-font;
  transition: opacity 0.3s ease;
}

.btn-violet:hover {
  background-color: #915db2;
}

// heart button
.btn-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 150;
}

.btn-like::after {
  content: 'like';
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
  z-index: inherit;
}

.icon path {
  fill: white;
  transition: .2s linear;
}

.btn-like:hover > .icon {
  transform: scale(1.2);
}

.btn-like:hover > .icon path {
  fill: rgb(177, 139, 189);
}

.btn-like:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

.btn-selected {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  appearance: none;
  // box-shadow: 0 0 8px rgba($color: rgb(166, 227, 143), $alpha: .8);
  border-radius: 15%;
  position: absolute;
  top: -5px;
  z-index: 10000;
}

.btn-selected {
  transition: transform 0.7s ease-in-out;
}

.btn-selected:hover {
  transform: rotate(360deg);
}

.btn-profile {
  background-color: transparent;
  border: none;
}
