.btn-purple {
  border-radius: 7px;
  background-color: $purple;
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 19px;
  //font-weight: lighter;
  padding: 8px 48px;
}

.btns-radio {
  display: flex !important;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 8vh;
}
@media (min-width: 1024px) {
  .btns-radio {
    // margin-top: 10vh;
  }
  .btn-filter {
    margin-top: 1vh;
  }
}
.radio-btn {
  position: absolute;
  // transform: scale(0);
  top: 5px;
  left: 5px;
  z-index: 100;
  width: 96px;
  height: 96px;
  opacity: 0;

}

.radio-btn:checked + label {
  border: purple 2px solid;
}
.radio-btn + label {
  border: transparent 2px solid;
}

.radio-btn:checked + .label-rounded {
  background-color: white;
  //border: 1px solid $purple;
}

.radio-btn-div i {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  // padding: 8px 12px;
  background-color: red;
}

.radio-btn-div label {
  cursor: pointer;
  border-radius: 50%;
}

.label-icon {
  height: 80%;
  background-color: transparent;
  text-align: center;
  left: 2.5px;
}

.label-icon1 {
  height: 60%;
  background-color: transparent;
  text-align: center;
  left: 2.5px;
  margin-top: 8px;
}

.radio-btn-div {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 50%;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost4 {
  color: white;
  bottom: 70px;
  border: 1px solid #c2a2d3;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  background-color: #c2a2d3;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-select {
  opacity: 0;
}

.btn-violet {
  background-color: #3e1359;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  width: 180px;
  border: none;
  //font-family: $main-font;
  transition: opacity 0.3s ease;
}

.btn-violet:hover {
  background-color: #915db2;
}

// heart input
.btn-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 150;
}

.btn-like::after {
  content: 'like';
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
  z-index: inherit;
}

.icon path {
  fill: white;
  transition: .2s linear;
}

.btn-like:hover > .icon {
  transform: scale(1.2);
}

.btn-like:hover > .icon path {
  fill: rgb(177, 139, 189);
}

.btn-like:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

.btn-selected {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  appearance: none;
  box-shadow: 0 0 8px rgba($color: black, $alpha: .4);
  border-radius: 15%;
  position: absolute;
}

.btn-selected {
  transition: transform 0.7s ease-in-out;
}

.btn-selected:hover {
  transform: rotate(360deg);
}

.btn-profile {
  background-color: transparent;
  border: none;
}

.btn-filter {
  background-color: $purple;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-filter:hover {
  color: $purple;
}
