.del-icon {
  color: rgba(72, 51, 88, 0.719);
  font-size: 25px;
  margin-top: 15px;
}

.img-options {
  height: 220px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .wishlist-controls {
    width: 50% !important;
  }
}
