@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.full-height {
  height: 100vh;
}
.card-home {
  width: 270px;
  height: 100%;
  transform: rotate(3deg);
  margin-bottom: 50px;
}

.cards {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;

}

.card {
  position: absolute;
  top: 170px;
  width: 220px;
  height: 340px;
  min-height: 280px;
  transform-style: preserve-3d;
  border: none;
  background-image: none;
  border-radius: 10%;
  box-shadow: 0 0 4px 0 rgba(34, 34, 34, 0.05);
  background-color: transparent;

  .card-inner {
    padding:0;
  }
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-option {
  height: 100px;
}

.options {
  display: flex;
  flex-direction: column;
}

button {
  position: relative;
  z-index: 101;
}

.card-name {
  height: 300px;
  box-sizing: border-box;
  h3 {
    font-family: 'Jost', sans-serif;
  }
  h2 {
    font-family: 'Tilt Warp', cursive;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  color: $purple ;
}
