.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 018px;
  border-radius: 50rem;
  // padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #10030c;
  border: 1px solid #672671;
  margin-right: 20px;
  margin-bottom: 0.4rem;
  
}

.tag-selector:checked + label {
  background-color:#F2E76B;
  color: black;
}