// .form-edit {
 
// }
.text {
  margin-left: 0px;
}

.card-content {
  padding: 20px;
  margin: 0 2rem;
  font-size: 12px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
