@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.form-label, .form-control, .form-text {
  text-decoration: none;
}

.radio_buttons.form-check-input {
  opacity: 0;
}

.image-select {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 7px;
  h2 {
    text-align: right;
  }
  margin: 20px;
  box-sizing: content-box;
}

label {
  display: flex;
  width: 100%;
  align-items: center;

  p {
    text-align: end;
  }
}

.form-check-label.collection-radio-buttons {
  width: 100%;
  display: flex;

}
.radio_buttons.form-check-input:checked + .form-check-label {
}

.image-select:has(.radio_buttons.form-check-input:checked ) {
  border: 2px solid black;
}
