.modal {
    --bs-modal-zindex: 1150;
    --bs-modal-margin: 1.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #f5e2ff;
    --bs-modal-border-width: 7px;
    --bs-modal-border-radius: 30px;
    --bs-modal-inner-border-radius: 16px;
    --bs-modal-header-padding: 0rem 1rem;
    --bs-modal-header-border-color: #e2bee6;
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
 }

.modal-content-home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 300px;
  right: 0;
  bottom: 0;
  left: 60px;
  height: 150px;
  width: 250px;
  z-index: 999;
  // visibility: hidden;
  opacity: 1;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 329px;
    position: absolute;
    top: -7%;
    left: 43%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #f5e2ff;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
  border: none;
  background-color: transparent;
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}


a {
  color: inherit;
  text-decoration: none;
}

.modal-icon {
  font-size: 28px;
  color: $purple;
  width: 45px;
}

// .modal-icon:hover {
//   background-color: rgb(118, 29, 88);
//   border-radius: 30%;
// }

label[for="mood_emotion"] {
  display: none;
}

.modal-index {
  z-index: 2000000;
}
