.card-photo {
  height: 150px;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  // position: absolute;
  // top: 80px;
  // left: 95px;
}

.activity-typo {
  text-align: center;
  color: #3e1359;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
}

.fond-blanc {
  background-color: transparent;
  // height: 530px;
  height: 800px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 0 0 20px 0;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}


.gl-star-rating--stars {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.sun-hair {
  animation: rotating-sun 20s infinite linear ;
}

@keyframes rotating-sun {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
