.card-photo {
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.activity-typo {
  text-align: center;
  color: #3e1359;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
}

.fond-blanc {
  background-color: white;
  height: 120%;
}
