.navbar-small-title {
  color: #76498c;
}

.swiper {
  width: 320px;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  margin-top: 5vh;
}

@media (min-width: 1440px) {
  .swiper {
    margin-top: 10vh;
    width: 365px;
    height: 610px;
  }
}

.swiper-wrapper {
  width: 20px;
}

.title-swip {
  padding: 25px;
  text-align: center;
  position: relative;
  height: fit-content;
  h2 {
    color: #76498c;
    padding: 5px;
    font-size: 18px;
  }
}

.background-navbar3 {
  background-color: #decee7;
}

.navbar-small-title2 {
  color: white;
  font-family: "Hammersmith One", cursive;
}

.background-navbar4 {
  background-color: $purple;
}

.btn-ghost2 {
  color: $medium-purple;
  bottom: 70px;
  background-color: #decee7;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.btn-ghost2:hover {
  color: $medium-purple;
}
.inner-card-option {
  height: 400px;
}

.cards-dot {
  display: flex;
  top: 78%;
  color: gray;
  z-index: 1;
  left: 163px;
  position: fixed;
}
.dot {
  font-size: 8px;
  margin: 3px;
}

.fleche {
  width: 90px;
  margin-top: 151px;
  padding: 29px;
}

.btn-ghost3 {
  color: $medium-purple;
  bottom: 70px;
  border: 1px solid $light-purple;
  //background-color: #decee7;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.btn-ghost3:hover {
  color: $purple;
}
