.children-typo {
  text-align: center;
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 27px;
  padding: 3px;
  background-color: #3e1359;
}

.card-of-today {
  font-family: 'Tilt Warp', cursive;
  color: $purple;
}
