// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

h1, h2, h3 {
  font-family: $main-font;
}

h1 {
  text-align: center !important;
  padding: 10px;
  white-space: pre-wrap;
}
