// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "star-rating.js/dist/star-rating.css";

.gl-star-rating .gl-emote-bg {
  transition: fill 0.15s ease-in-out;
}
.gl-star-rating [data-value]:not(.gl-active) .gl-emote-bg {
  fill: #DCDCE6;
}

.gl-star-rating .gl-emote {
  transform: scale(.9);
  transition: transform 0.25s ease-in-out;
}
.gl-star-rating .gl-selected .gl-emote {
  transform: scale(1.1);
}

:root {
    --gl-star-color: #fdd835;                     /* if using SVG images */
    --gl-star-color-inactive: #dcdce6;            /* if using SVG images */
    --gl-star-empty: url(../img/star-empty.svg);  /* if using background images */
    --gl-star-full: url(../img/star-full.svg);    /* if using background images */
    --gl-star-size: 48px;
    --gl-tooltip-border-radius: 4px;
    --gl-tooltip-font-size: 0.875rem;
    --gl-tooltip-font-weight: 400;
    --gl-tooltip-line-height: 1;
    --gl-tooltip-margin: 24px;
    --gl-tooltip-padding: .5em 1em;
    --gl-tooltip-size: 6px;
}

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/dashboard";
@import "pages/options";
@import "pages/filters";
@import "pages/home";


body {
  background-color: white;
}

h1, h2 {
  font-family: "Lobster", cursive;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.2),
    0px -2px 10px rgba(255,255,255,0.3);
}

h3, h4, h5 {
  font-family: "Hammersmith One", cursive;
  color: $purple;
  // text-shadow: 0px 3px 0px #b2a98f,
  // 0px 3px 2px rgba(0,0,0,0.15),
  // 0px 6px 1px rgba(0,0,0,0.1),
  // 0px 8px 7px rgba(0,0,0,0.1);}


}


h1 {
  text-align: center !important;
  padding: 10px;
  white-space: pre-wrap;
}

p, h5 {
  font-family: 'Jost', sans-serif;
  color: $purple;
}

// .pref-title {
//   font: 400 100px/1.5 'Secular One', Helvetica, sans-serif;
//   color: palevioletred;
//   // text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
//   font-size: 28px;

//   text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
// }

.app-content {
  min-height: calc(100vh) - 52px;
  padding-bottom: 55px;
}
